body{
    background-color: darkblue;
    background-image: url("HipHopPage.png");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-position: center;
}

h1{ 
    text-align: center;
    color: white;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    

}

p{ 
    color: rgb(255, 196, 0); 
    text-align: center;
    font-family: "Nerko One", cursive;
    font-size: larger;
    
}

.MusicVideo{ 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
