/* Mobile Style */ 
body{ 
    background-color: antiquewhite;
}
h1{
    color:blue; 
    font-family: "Joti One", serif;
}
h2{
    font-family: "Gochi Hand", cursive;

}
p{
    font-family: "Nerko One", cursive;
    color:rgb(69, 107, 245); 

}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-bottom: 1rem;
}
nav a{
    margin-bottom:  1rem;
    border: 1px solid grey; 
    background-color: rgb(243, 251, 201);
    border-radius: .5em;
    padding: 1em;
    font-family: "Nerko One", cursive;
}

/* Media Queries */
@media all and (min-width: 30rem){
    h1 { color: black; }
    p {color: grey;}

}